{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "react/no-unescaped-entities": "off",
    "no-unused-vars": "error",
    "indent": ["error", 2, { "ignoredNodes": ["TemplateLiteral"] }],
    "template-curly-spacing": "off"
  }
}
